@import "tailwindcss";
@plugin "daisyui";

@layer components {
  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }

  .lgin-register-wrapper{
    
  }

  .login-register-left-section {
    @apply bg-[url(https://picsum.photos/1200)] bg-cover bg-center;
  }

  .main-container {
    @apply max-w-5xl mx-auto;
  }

  .overlay{
    @apply absolute left-0 top-0 bottom-0 w-full bg-black opacity-50 z-10 md:hidden

  }
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.grid-container {
  height: 100%;
  display: grid;
  justify-content: space-between;
  padding-bottom: 1rem;
  grid-template-columns: 67.5% calc(15.5% - 3.2rem);
  gap: 3.2em;
}

.onlineUser{
  height: 100%;
  background: #e9e7e7;
  margin: 1rem 0;
  align-items: center;
  padding: 10px;
}

footer{
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .grid-container {
    height: 100%;
    display: grid;
    justify-content: space-between;
    padding-bottom: 1rem;
    grid-template-columns: 67.5% calc(20.5% - 3.2rem);
    gap: 3.2em;
  }
  /* .Users{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  .onlineUser{
    padding: 10px 20px;
    align-items: center;
  }


}

@media (max-width: 500px) {

  .grid-container {
    grid-template-columns: 1fr ;
  }

  .onlineUser{
    padding: 10px;
  }
}
